body {
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f3;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
}

.amazcota-working-wrap{
  display: inline-block;
}

.amazcota-working-title{
  font-size: 14px;
  margin: 0;
  line-height: 18px;
  font-weight: 400;
  color: #cacaca;
}

.amazcota-working-line{
  height: 2px;
  margin: 10px auto;
  border: none;
  width: 30px;
  background: #cacaca;
}

.amazcota-working-message{
  margin: 0;
  font-weight: 200;
  font-size: 10vw;
}

@media only screen and (min-width: 500px) {
   .amazcota-working-message{
     font-size: 52px;
     line-height: 50px;
   }
}