<article class="home-adoption-persuasion">
  <div class="vh-wrap">
    <div class="vh">
      <section class="home-adoption-persuasion-container">
        <figure class="frame-picture">
          <img src="http://res.cloudinary.com/amazcota/image/upload/v1440287482/amazcota-prelunch/amazcota-prelunch-girl-with-cat.jpg" />
          <p class="sweet-copy">{{why1}}</p>
          <p class="sweet-copy">{{why2}}</p>
          <p class="hashtag">
            <span>{{hashtag}}</span>
          </p>
        </figure>
      </section>
    </div>
  </div>
</article>
