<article class="home-contribute">
  <section class="home-contribute-container">
    <h1 class="section-title">
      <small class="section-title-braket">&#91;</small>
      <span>{{contribute}}</span>
      <small class="section-title-braket">&#93;</small>
    </h1>
    <h2 class="quote">
      <small>&#8220;</small>
      <span>{{quote}}</span>
      <small>&#8221;</small>
      <p class="source">{{quoteSource}}</p>
    </h2>
  </section>
  <section class="home-contribute-people-with-pets">
    <figure class="people-with-pets">
      <img src="http://res.cloudinary.com/amazcota/image/upload/v1440296836/amazcota-prelunch/amazcota-prelunch-boy-with-dog.jpg"/>
      <canvas id="border-canvas"></canvas>
    </figure>

  </section>
</article>
